/* Стили для страницы изменения пароля */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    margin-top: 20px;
}

.password-change {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.password-change h2 {
    color: #007BFF;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

.submit-button:hover {
    background-color: #0056b3;
}

.action_buttons {
    margin-top: 20px;
    text-align: center;
}

.to_user_button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.to_user_button:hover {
    background-color: #0056b3;
}
