/* Стили для страницы редактирования пользователя */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    margin-top: 20px;
}

/* Форма редактирования */
.edit-user-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.edit-user-form h2 {
    color: #007BFF;
    text-align: center;
}

.edit-user-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.edit-user-form input,
.edit-user-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.edit-user-form .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-button,
.cancel-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.save-button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #6c757d;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: #5a6268;
}
